# if you need to rebuild: 
# docker compose -f docker-compose.vps.yml --env-file .env build --no-cache web
# docker compose up :
# docker compose -f docker-compose.vps.yml --env-file .env up -d

# to copy local files to the vps:
# docker cp ./storage/. discogs-media-web:/rails/storage/
# docker exec -u root discogs-media-web chown -R 1000:1000 /rails/storage
# docker exec -it discogs-media-web bin/rails db:prepare # if needed (after copying dev -> prod db)
services:
  web:
    build: .
    container_name: discogs-media-web
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M
    expose:
      - "80"
    environment:
      - RAILS_ENV=production
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
      - DISCOGS_TOKEN=${DISCOGS_TOKEN}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    volumes:
      - sqlite_data:/rails/storage
      - rails_log:/rails/log
    networks:
      - proxy-mgj

volumes:
  sqlite_data:
  rails_log:

networks:
  proxy-mgj:
    external: true
