services:
  web:
    build: .
    restart: unless-stopped
    expose:
      - "80"
    environment:
      - RAILS_ENV=production
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
      - DISCOGS_TOKEN=${DISCOGS_TOKEN}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    volumes:
      - sqlite_data:/rails/storage
      - rails_log:/rails/log
    networks:
      - proxy-mgj

volumes:
  sqlite_data:
  rails_log:

networks:
  proxy-mgj:
    external: true
