<% grouped = @play_sessions.group_by { |ps| ps.start_time.to_date } %>
<% grouped.each do |date, sessions| %>
  <div class="mt-6 mb-3">
    <h3 class="font-semibold text-lg text-stone-600 mb-2">
      <%= date.strftime("%B %-d, %Y") %>
      <span class="text-sm font-mono text-gray-500 font-normal ml-1">(<%= duration_formatter(sessions.sum { |ps| ps.media_item.release&.duration || 0 }) %>)</span>
    </h3>
    <hr class="border-gray-300">
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
  <% sessions.each do |play_session| %>
    <%= render partial: "now_playing_card", locals: { media_item: play_session.media_item, compact: true, since: play_session.start_time, play_session_id: play_session.id } %>
  <% end %>
  </div>
<% end %>
