<div id="up-next-section" class="<%= @playlist.none? ? 'hidden' : '' %>">
  <ol id="up-next-list"
      data-controller="sortable"
      data-sortable-url-value="<%= playlist_reorder_path %>"
      data-sortable-simple-mode-value="true"
      data-sortable-id-attribute-value="data-playlist-id"
      data-sortable-param-name-value="playlist_ids">
    <% @playlist.each do |item| %>
      <%= render partial: "now_playing/playlist_item", locals: { playlist_item: item } %>
    <% end %>
  </ol>
</div>
