<% content_for :title, "New User" %>

<div class="p-4 md:w-2/3 w-full">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">New User</h1>
    <%= link_to "Back to Users", users_path, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
  </div>

  <%= render "form", user: @user %>
</div>
