 <div data-controller="modal">
  <!-- Menu Section -->
  <nav class="bg-gray-800 text-white py-3">
    <div class="max-w-7xl mx-auto px-4 flex space-x-6">
      <a href="/" class="hover:text-blue-400">Home</a>
      <a href="/media_owners" class="hover:text-blue-400">Artists</a>
      <a href="/media_types" class="hover:text-blue-400">Media Types</a>
      <a href="/media_items" class="hover:text-blue-400">Media Items</a>
      <a href="#" class="hover:text-blue-400">Services</a>
      <a href="#" class="hover:text-blue-400">Contact</a>
      <% if authenticated? %>
          <%#= Current.session %>

          <!--<a href="#"><%= Current.user.email_address %></a>-->
          <%= button_to 'Sign out', session_path, method: :delete %>
        <% else %>
          <button data-action="modal#show"
                class="hover:text-blue-400 bg-transparent border-none cursor-pointer">Sign in</button>
        <% end %>
    </div>
  </nav>

  <% content_for :modals do %>
    <%= render partial: 'shared/auth_modal' %>
  <% end %>
</div>