<div id="<%= dom_id media_owner %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= media_owner.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= media_owner.description %>
  </p>
</div>
