<% content_for :title, "media_owners" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">media_owners</h1>
    <%= link_to "New media_owner", new_media_owner_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="media_owners" class="min-w-full">
    <% if @media_owners.any? %>
      <% @media_owners.each do |media_owner| %>
        <%= render media_owner %>
        <p>
          <%= link_to "Show this media_owner", media_owner, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
      <p class="text-center my-10">No media_owners found.</p>
    <% end %>
  </div>
</div>
