<div id="<%= dom_id media_item_track %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= media_item_track.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Play count:</strong>
    <%= media_item_track.play_count %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Media item:</strong>
    <%= media_item_track.media_item_id %>
  </div>
</div>
