<% if media_type_name == "CD" %>
  <span title="CD" class="text-lg">💿</span>
<% else %>
  <span title="Vinyl" class="inline-flex items-center justify-center w-6 h-6 text-xs bg-gray-800 text-white font-bold rounded-full align-middle">LP</span>
<% end %>
